.target{
    margin-bottom: 200px;
}
button{
    margin: 1rem;
    border: 5px solid black;
    padding: 0;
    
}
img {
    height: 12vh;
    width: 10vw;
    background-color: white;

}

.box {
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 12vh;
    width: 10vw;
}

@keyframes gradient02 {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

.container {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 0;
}

.container>* {
    margin: -400px;
    /* Adjust margin between elements */
    padding: 0px;
    /* Adjust padding within elements */
}