:root {
    --margin-rem: 1rem;
    --border-rem: 0.5rem;
    --height-vh: 12vh;
    --width-vw: 10vw;
}

.target {
    margin-bottom: var(--margin-rem);
}

button {
    margin: var(--margin-rem);
    border: var(--border-rem) solid black;
    padding: 0;
}

img {
    height: var(--height-vh);
    width: var(--width-vw);
    background-color: white;
}

.box {
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: var(--height-vh);
    width: var(--width-vw);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 0;
}

.container>* {
    margin: -4em;
    padding: 0;
}